@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.nav-bar {
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: space-between;
  height: 51px;
  border: 1px solid #594865;
  border-radius: 10px;
  padding: 5px;
}

.nav-bar h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 15px;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
  color: #00000096;
}

.active {
  text-decoration: underline;
}
